body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 40px;  
  color: #333;
  background: #2e8b57; 
}

header, footer {
  text-align: center;
  margin-bottom: 30px;
}

section {
  background: white;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 8px;
  border: 1px black solid;
}

.contact-section {
  margin-top: 20px;
  padding: 15px;
}

.form-group {
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box; 
  margin-top: 5px;
}


.submit-btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: black; 
  color: white;
  
}


